{% extends "base.html" %} {% block title %}Todo-htmx{% endblock %} {% block
content %}
<h1 class="text-indigo-500 text-2xl font-semibold">Awesome todo app no one saw before!</h1>
<form class="my-2" hx-post="create-todo" hx-target="#todos" hx-sawp="innerHTML">
    <input class="rounded-md bg-gray-400 p-2" id="todo" name="todo" type="text" />
    <button class="bg-indigo-500 p-2 rounded-sm" type="submit">Add todo</button>
</form>

<ul class="my-2" id="todos">{% for todo in todos %} <li>{{ todo }}</li> {% endfor %}</div> {% endblock %}


